.menu{
    display: flex;
    position: absolute;
    top:0;
    left:0;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
}

.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.cate{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.font{
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.logo{
    width: 8vh;
    height: 8vh;
    border: 0px;
    position: absolute;
    left: 10px;
}

body{
    margin: 0px;
}